/*
 * Copyright (c) 2025 James Bennion-Pedley
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;

#include <wch/ch32v307/ch32v307wc.dtsi>
#include <zephyr/dt-bindings/gpio/gpio.h>
#include <zephyr/dt-bindings/led/led.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include "uptp_v1-pinctrl.dtsi"

/ {
	model = "bojit_uptp_v1";
	compatible = "bojit,uptp_v1";

	chosen {
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,console = &usart4;
		zephyr,shell-uart = &usart4;
	};

	soc {
		/* Temporary until PR #101688 merged */
		spi1:spi@40013000 {
			compatible = "wch,spi";
			reg = <0x40013000 0x24>;
			clocks = <&rcc CH32V20X_V30X_CLOCK_SPI1>;
			interrupt-parent = <&pfic>;
			interrupts = <51>;
			status = "disabled";
			#address-cells = <1>;
			#size-cells = <0>;
		};
	};
};

&clk_hse {
	clock-frequency = <DT_FREQ_M(8)>;
	status = "okay";
};

&pll {
	clocks = <&clk_hse>;
	status = "okay";
};

&rcc {
	clocks = <&pll>;
};


&gpioa {
	status = "okay";
};

&gpioc {
	status = "okay";
};

&usart4 {
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&usart4_default>;
	pinctrl-names = "default";
};

&spi1 {
	status = "okay";
	pinctrl-0 = <&spi1_default>;
	pinctrl-names = "default";

	led_strip: ws2812@0 {
		compatible = "worldsemi,ws2812-spi";
		status = "okay";
		reg = <0>;
		spi-cpha;
		spi-one-frame = <0xf0>;  /* 1100ns HIGH */
		spi-zero-frame = <0x80>; /* 460ns HIGH */
		spi-max-frequency = <4600000>;
		chain-length = <1>;
		color-mapping = <LED_COLOR_ID_GREEN LED_COLOR_ID_RED LED_COLOR_ID_BLUE>;
	};
};

&rng {
	status = "okay";
};

&mac {
	status = "okay";
	pinctrl-0 = <&mac_default>;
	pinctrl-names = "default";
	phy-connection-type = "internal";
	phy-handle = <&eth_phy>;
};

&mdio {
	status = "okay";
	pinctrl-0 = <&mdio_default>;
	pinctrl-names = "default";

	eth_phy: ethernet-phy@0 {
		compatible = "ethernet-phy";
		reg = <0x00>;
	};
};
