#include <zephyr/dt-bindings/led/led.h>

&mac {
	pinctrl-0 = <&eth_rxd0_pc4
		     &eth_rxd1_pc5
		     &eth_ref_clk_pa1
		     &eth_crs_dv_pa7
		     &eth_tx_en_pg11
		     &eth_txd0_pg13
		     &eth_txd1_pb13
		     &eth_pps_out_pb5>;
};

&spi1 {
	status = "okay";
	pinctrl-0 = <&spi1_mosi_pa7 &spi1_sck_pa5>;
	pinctrl-names = "default";

	led_strip: ws2812@0 {
		compatible = "worldsemi,ws2812-spi";
		status = "okay";
		reg = <0>;
		spi-cpha;
		spi-one-frame = <0xf0>;  /* 1100ns HIGH */
		spi-zero-frame = <0x80>; /* 460ns HIGH */
		spi-max-frequency = <4600000>;
		chain-length = <1>;
		color-mapping = <LED_COLOR_ID_GREEN LED_COLOR_ID_RED LED_COLOR_ID_BLUE>;
	};
};
